## Exploración mensual con datos procesados

In [1]:
# Librerias

import os
import pandas as pd
import sys

# Añadir la raíz del proyecto al PYTHONPATH
sys.path.append(os.path.abspath(os.path.join(os.path.dirname("__file__"), "..")))

In [2]:
from src.config import TEST_PROCESSED_PATH, TRAIN_PROCESSED_PATH, MESES_EVALUACION

# Cargar entrenamiento de enero 2020
df_train = None
train_path = os.path.join(TRAIN_PROCESSED_PATH, "train_data.parquet")
if os.path.exists(train_path):
    df_train = pd.read_parquet(train_path)
    print(f"Entrenamiento 2020-01 cargado con {len(df_train)} filas.")
else:
    print("No se encontró el archivo de entrenamiento de enero 2020.")

# Cargar datos de evaluación por mes
dfs_test = []
for mes in MESES_EVALUACION:
    path = os.path.join(TEST_PROCESSED_PATH, f"test_processed_{mes}.parquet")
    if os.path.exists(path):
        df = pd.read_parquet(path)
        dfs_test.append(df)
        print(f"[Test] {mes} cargado con {len(df)} filas.")
    else:
        print(f"[Test] No se encontró el archivo para {mes}")

# Concatenar todo
df_mensual = pd.concat([df_train] + dfs_test, ignore_index=True)
print(f"\nTotal consolidado: {len(df_mensual):,} filas.")

Entrenamiento 2020-01 cargado con 100000 filas.
[Test] 2020-02 cargado con 6219682 filas.
[Test] 2020-03 cargado con 2965667 filas.
[Test] 2020-04 cargado con 230623 filas.

Total consolidado: 9,515,972 filas.

Se obverva que los datos

In [4]:
df_mensual

,pickup_weekday,pickup_hour,work_hours,pickup_minute,passenger_count,trip_distance,trip_time,trip_speed,PULocationID,DOLocationID,RatecodeID,high_tip
0,2.0,0.0,0.0,28.0,1.0,1.200000,288.0,0.004167,238.0,239.0,1.0,1
1,2.0,0.0,0.0,35.0,1.0,1.200000,445.0,0.002697,239.0,238.0,1.0,1
2,2.0,0.0,0.0,47.0,1.0,0.600000,371.0,0.001617,238.0,238.0,1.0,0
3,2.0,0.0,0.0,55.0,1.0,0.800000,291.0,0.002749,238.0,151.0,1.0,1
4,2.0,0.0,0.0,9.0,1.0,0.030000,53.0,0.000566,7.0,193.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9515967,3.0,23.0,0.0,30.0,-1.0,2.020000,540.0,0.003741,238.0,75.0,-1.0,0
9515968,3.0,23.0,0.0,44.0,-1.0,3.300000,600.0,0.005500,263.0,230.0,-1.0,0
9515969,3.0,23.0,0.0,25.0,-1.0,6.400000,780.0,0.008205,137.0,42.0,-1.0,0
9515970,3.0,23.0,0.0,50.0,-1.0,25.700001,2275.0,0.011297,29.0,69.0,-1.0,0
9515971,3.0,23.0,0.0,16.0,-1.0,5.630000,861.0,0.006539,14.0,29.0,-1.0,1